{% extends 'base.html.twig' %}  {# heritage du contenu de la base.html #}

{% block body %}
    <h1>Coucou</h1>
{% endblock %}

{% block title %}{{ parent() }} | Home{% endblock %}  {# block 'title' et le nom present dans 'parent' #}
