<nav>
    <ul>
        <li><a href="#" title="Home">Home</a></li>
        <li><a href="#" title="Test"></a>Test</li>
        <li><a href="#" title="Test2"></a>Test2</li>
        <li><a href="#" title="Test3"></a>Test3</li>
    </ul>
</nav>