<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('main_test') }}" title="Test">Test</a></li>
        <li><a href="{{ path('main_test') }}" title="Test2">Test2</a></li>
        <li><a href="{{ path('main_test') }}" title="Test3">Test3</a></li>
    </ul>
</nav>